# Build directories
/build/
.gradle/

# GeneratedAndroid files
/src/main/java/com/example/app/BuildConfig.java
/src/main/java/com/example/app/R.java

# Test outputs
/src/androidTest/java/BuildConfig.java
/src/test/java/BuildConfig.java

# NDK builds
.cxx/
.externalNativeBuild/
obj/

# CMake builds
cmake-build-*/

# Compiled files
*.o
*.a
*.so

# Local development
*.iml
